@font-face {
  font-family: RationalDisplay;
  src: url(/src/assets/RationalDisplay-Medium.woff);
}

* {
  margin: 0;
  padding: 0;
}

html, body, #root {
  background-color: rgb(15, 19, 39);
  color: white;
  font-family: RationalDisplay, Arial, Helvetica, sans-serif;
  font-size: 1.125em;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container-gap > * {
  margin-bottom: 2.25em;
}

.container.task-view {
  gap: 0;
  min-height: 100%;
  justify-content: start;
}

.logo-container {
  width: 100%;
}

.logo-container > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.logo-container > * > p {
  padding-top: .25em;
  font-size: .75em;
}

.logo-container.task-view {
  padding: 1.5em 0 1.5em 0;
}

.logo-container.task-view > * {
  font-size: .6em;
}

.gradient-container {
  position: absolute;
  width: 100%;
  height: 10em;
}

.gradient {
  position: absolute;
  width: 10em;
  height: 10em;
  z-index: 0;
}

.gradient.gradient-left {
  left: 0;
  background: radial-gradient(circle, rgba(206, 45, 63, 0.5), rgba(206, 45, 63, 0.03) 65%, rgba(206, 45, 63, 0) 70%);
  transform: translateX(-5em);
}

.gradient.gradient-right {
  right: 0;
  background: radial-gradient(circle, rgba(102, 151, 237, 0.5), rgba(102, 151, 237, 0.03) 65%, rgba(102, 151, 237, 0) 70%);
  transform: translateX(5em);
}

.container.error > * {
  margin-bottom: 1em;
}

.error {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.error > * {
  margin: 0 .5em 0 .5em;
}

.shift-options {
  display: flex;
}

.shift-options > * {
  margin: 0 .5em 0 .5em;
}

.shift-options > * {
  color: rgba(255, 255, 255, 0.322);
  background-image: rgb(206, 45, 63);
}

.active {
  color: white;
}

.active::after {
  content: ""; 
  float: left; 
  background: rgb(206, 45, 63); 
  width: 100%; 
  height: 3px; 
  border-radius: 3px;
  margin-top: .1em;
  margin-bottom: -.3em;
}

.card {
  flex: 1;
  width: 100%;
  background-color: white;
  color: black;
  border-radius: 1em 1em 0 0;
  z-index: 0;
}

.card > * {
  padding-left: 1em;
  padding-right: 1em;
  font-size: .8em;
}

.shift-info-container {
  padding-top: 1em;
  font-size: 1em !important;
}

.section-title {
  font-size: 1.75em;
  padding: 1.5rem;
}

.view-checklist-button {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(158, 36, 50) 0%, rgb(206, 45, 63) 100%);
  border-radius: 4px;
  font-size: .5em;
  font-weight: bold;
  padding: 1.3em 1em 1.3em 1em;
}

.xButton {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  background-color: rgba(112, 112, 112, 0.507);
  height: 1.5em;
  width: 1.5em;
  margin: .65em;
  border-radius: 1em;
  z-index: 1;
}

.task-container {
  margin-bottom: 1em;
  padding: 0 1.5em 0 1.5em;
}

.task-name {
  font-size: 1em;
  font-weight: 700;
}

.task-description {
  font-size: .9em;
  text-wrap: pretty;
}