* {
  margin: 0;
  padding: 0;
}

html, body, #root {
  background-color: rgb(15, 19, 39);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.125em;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1em;
}

.shift-options {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.card {
  height: 100%;
  width: 100%;
  background-color: white;
  color: black;
  border-radius: 1em 1em 0 0;
}